
body {
  background-image: url("earth.jpeg");
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#startdiv{
  width: 80vw;
  max-width: 600px;
  background: #23272a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
button{
  border:none;
  padding: 15px 32px;
  font-size: 20px;
  cursor: pointer;
}